<h1>Welcome#index</h1>
<p class="btn-group">Find me in app/views/welcome/index.html.erb</p>
<%=link_to "Airplanes",airplanes_path %>
<%=link_to "Cities",cities_path %>
<%=link_to "Flights",flights_path %>
<%=link_to "Passengers",passengers_path %>
<%=link_to "Pilots",pilots_path %>
<%=link_to "Routes",routes_path %>

