<h1 class="btn-group">Registro Biblioteca</h1>

<%=link_to "Usuarios",users_path %>
<%=link_to "Registro",registers_path %>
<%=link_to "Libros",books_path %>
<%=link_to "Autor",authors_path %>
<%=link_to "Cuenta",accounts_path %>
