<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Torre:</strong>
  <%= @user.tower %>
</p>

<p>
  <strong>Apartamento:</strong>
  <%= @user.apartment %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Volver', users_path %>
